
    
.hero{
	background: #60a3bc;
	font-family: 'Roboto Slab', serif;
}

.gap{
	padding-top:4%;
	padding-left:30%;
	padding-right:30%;
	padding-bottom:6%;
}
#g{
	background: rgb(0, 204, 255);
}
.gap2{
	padding:2%;
}
.gif{
	position: relative;
	float:left;
}
.gif1{
	position: relative;
	float:right;
}
.head{
	background: rgb(0, 204, 255);
	background-size: 100px
	text-decoration-color: white;
	padding:3%;
	font-size: 25px;
	color: white;
}
.h{
	padding-top:3%;
}
#l{
	background: rgb(0, 0, 153);
}
#h1
{
	background:red;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}
#h2{
	background:rgb(153, 255, 51);
}
.s
{
	padding-top:8%;
	padding-bottom:6%;
}
.input-icons i{
position: absolute; 
}
.input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
 } 
 .input-field { 
            width: 100%; 
            padding: 10px; 
   
        } 
hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}
.icon { 
            padding: 10px; 
            min-width: 50px; 
            text-align: center; 
        } 

